Repository moveit/moveit: changes, and which pre-commit hooks are due for each by the changed paths.
All: misspelled-moveit, clang-format

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
      - id: rst-linter
        exclude: .*/doc/.*

  - repo: local
    hooks:
      - id: misspelled-moveit
        name: misspelled-moveit
        description: MoveIt should be spelled exactly as MoveIt
        language: pygrep
        entry: Moveit\W|MoveIt!
        exclude: .pre-commit-config.yaml
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["-fallback-style=none", "-i"]
      - id: catkin_lint
        name: catkin_lint
        description: Check package.xml and cmake files
        entry: catkin_lint .
        language: system
        always_run: true
        pass_filenames: false

Resolve subframe in cartesian_path_service capability
  moveit_ros/move_group/src/default_capabilities/cartesian_path_service_capability.cpp
Due: misspelled-moveit, clang-format

Update libraries into .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Silent "empty quaternion" warning from poseMsgToEigen()
  moveit_core/planning_scene/src/planning_scene.cpp
Due: misspelled-moveit, clang-format

Fix planar joint jacobian calculation bug
  moveit_core/robot_state/src/robot_state.cpp
Due: misspelled-moveit, clang-format

Add planar joint jacobian test
  moveit_core/robot_state/test/test_planar_joint_jacobian.cpp
  moveit_core/robot_state/test/test_planar_joint_jacobian.test
Due: misspelled-moveit, clang-format

Add test_planar_joint_jacobian to CMakeLists
  moveit_core/robot_state/CMakeLists.txt
Due: misspelled-moveit

Fix formatting
  moveit_core/robot_state/test/test_planar_joint_jacobian.cpp
Due: misspelled-moveit, clang-format

Simplify test: no need for a ROS environment
  moveit_core/robot_state/CMakeLists.txt
  moveit_core/robot_state/test/test_planar_joint_jacobian.cpp
  moveit_core/robot_state/test/test_planar_joint_jacobian.test
Due: misspelled-moveit, clang-format

Silent "empty quaternion" warning from poseMsgToEigen() (#3435)
  moveit_core/planning_scene/src/planning_scene.cpp
Due: misspelled-moveit, clang-format

Fix Jacobian calculation for planar joint (#3439)
  moveit_core/robot_state/CMakeLists.txt
  moveit_core/robot_state/src/robot_state.cpp
  moveit_core/robot_state/test/test_planar_joint_jacobian.cpp
Due: misspelled-moveit, clang-format

Add Jacobian derivative calculation
  moveit_core/robot_state/CMakeLists.txt
  moveit_core/robot_state/include/moveit/robot_state/robot_state.h
  moveit_core/robot_state/src/robot_state.cpp
  moveit_core/robot_state/test/test_jacobian_derivative.cpp
  moveit_core/robot_state/test/test_jacobian_derivative.test
Due: misspelled-moveit, clang-format

Cleanup and make getJacobianColumnPartialDerivative static
  moveit_core/robot_state/include/moveit/robot_state/robot_state.h
  moveit_core/robot_state/src/robot_state.cpp
Due: misspelled-moveit, clang-format

Update getJacobianColumnPartialDerivative comment
  moveit_core/robot_state/src/robot_state.cpp
Due: misspelled-moveit, clang-format

Fix misspemisspelled-moveit
  moveit_core/robot_state/test/test_jacobian_derivative.cpp
Due: misspelled-moveit, clang-format

Replace C-style cast with a static_cast
  moveit_core/robot_state/test/test_jacobian_derivative.cpp
Due: misspelled-moveit, clang-format

Use fixed test states
  moveit_core/robot_state/test/test_jacobian_derivative.cpp
Due: misspelled-moveit, clang-format

Fix clang-tidy warnings
  moveit_core/robot_state/test/test_jacobian_derivative.cpp
Due: misspelled-moveit, clang-format

Add EIRMstar multiquery planner
  moveit_planners/ompl/ompl_interface/src/planning_context_manager.cpp
  moveit_setup_assistant/src/tools/moveit_config_data.cpp
Due: misspelled-moveit, clang-format

Add EITstar planner
  moveit_planners/ompl/ompl_interface/src/planning_context_manager.cpp
  moveit_setup_assistant/src/tools/moveit_config_data.cpp
Due: misspelled-moveit, clang-format

Make SRDF sanity checks optional
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Provide hint how to change kinematics.yaml if automatic adaption failed
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Modernize string formatting
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Create new planning group entry in kinematics.yaml if needed
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Rely on python 3.x
  .github/workflows/ci.yaml
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Improvements to create_ikfast_moveit_plugin.py (#3449)
  .github/workflows/ci.yaml
  moveit_kinematics/ikfast_kinematics_plugin/scripts/create_ikfast_moveit_plugin.py
Due: misspelled-moveit

Update time_optimal_trajectory_generation.h: include <unordered_map>
  moveit_core/trajectory_processing/include/moveit/trajectory_processing/time_optimal_trajectory_generation.h
Due: misspelled-moveit, clang-format

Add missing include (#3451)
  moveit_core/trajectory_processing/include/moveit/trajectory_processing/time_optimal_trajectory_generation.h
Due: misspelled-moveit, clang-format

OMPL: fix TRRT parameters names
  moveit_setup_assistant/src/tools/moveit_config_data.cpp
Due: misspelled-moveit, clang-format

Inform the planning pipeline about the waypoints added by AddIterativeSplineParameterization
  moveit_ros/planning/planning_request_adapter_plugins/src/add_iterative_spline_parameterization.cpp
Due: misspelled-moveit, clang-format

Update target robot state before calling setFromIK
  moveit_ros/planning_interface/move_group_interface/src/move_group_interface.cpp
Due: misspelled-moveit, clang-format

Fix the added path index vector merge in PlanningRequestAdapterChain
  moveit_core/planning_request_adapter/CMakeLists.txt
  moveit_core/planning_request_adapter/src/planning_request_adapter.cpp
  moveit_core/planning_request_adapter/test/test_planning_request_adapter_chain.cpp
Due: misspelled-moveit, clang-format

getRigidlyConnectedParentLinkModel: compute relative transform w/o global info
  moveit_core/robot_model/include/moveit/robot_model/robot_model.h
  moveit_core/robot_model/src/robot_model.cpp
  moveit_core/robot_state/include/moveit/robot_state/robot_state.h
  moveit_core/robot_state/src/robot_state.cpp
Due: misspelled-moveit, clang-format

Remove recently added calls to RobotState::update()
  moveit_core/robot_state/src/cartesian_interpolator.cpp
  moveit_core/robot_state/test/robot_state_test.cpp
Due: misspelled-moveit, clang-format

Remove unimplemented RobotState::getSubframeTransformInLinkFrame()
  moveit_core/robot_state/include/moveit/robot_state/attached_body.h
Due: misspelled-moveit, clang-format

Add unittest for #3467
  moveit_ros/planning_interface/test/move_group_interface_cpp_test.cpp
Due: misspelled-moveit, clang-format

OMPL: fix TRRT parameters names (#3461)
  moveit_setup_assistant/src/tools/moveit_config_data.cpp
Due: misspelled-moveit, clang-format

RobotState::setFromIK: ensure up-to-date state before calling IK solver
  moveit_core/robot_state/src/robot_state.cpp
Due: misspelled-moveit, clang-format

Fixed divide by 0, segfault on interpolate
  moveit_core/robot_model/src/planar_joint_model.cpp
Due: misspelled-moveit, clang-format
